.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  display: block;
  overflow: hidden;
}
.iconOne {
  font-size: 80px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.xoay {
  animation: xoay 1.5s linear infinite;
  -moz-animation: xoay 1.5s linear infinite;
  -ms-animation: xoay 1.5s linear infinite;
  -o-animation: xoay 1.5s linear infinite;
  -webkit-animation: xoay 1.5s linear infinite;
}
@keyframes xoay {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
