@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
/* @-webkit-keyframes loading123 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading123 {
  to {
    transform: rotate(360deg);
  }
} */
/* .loading123 {
  margin-top: 120px;
  width: 120px;
  height: 120px;
  display: inline-block;
  border: 10px solid #002266;
  border-radius: 50%;
  border-top: 10px solid white;
  animation: spiner 1.5s linear infinite;
} */

/* .loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  display: block;
  overflow: hidden;
}
.icon {
  font-size: 80px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.xoay {
  animation: xoay 1.5s linear infinite;
  -moz-animation: xoay 1.5s linear infinite;
  -ms-animation: xoay 1.5s linear infinite;
  -o-animation: xoay 1.5s linear infinite;
  -webkit-animation: xoay 1.5s linear infinite;
}
@keyframes xoay {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* .popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.65);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
} */
