.navbar {
  height: 50px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
}

.menu-bars {
  margin: auto;
  margin-right: 2rem;
  font-size: 1.5rem;
  background: none;
  opacity: 0.4;
}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 8ox 0px 8px 16px;
  list-style: none;
  height: 40px;
}

.nav-text a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #fff;
  width: 100%;
  height: 40px;
  /* display: flex; */
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}
